html {
    font-size: 10px;
}

body{
    margin: 0;
    background: #faf6ee;
}

.d-flex{
    justify-content: space-around !important;
}

.d-flex .btn-lg{
    border: none; 
    background-color: #faf6ee;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}