html {
    font-size: 10px;
}

body{
    margin: 0;
    background: #faf6ee;
}


button{
    margin-right: 2em;
}

ul{
    margin-right: 9.5em;
}

form{
    margin-left: 9.5em;
}

.text-end .btn-outline-light{
    margin-left: 1.2em;
}
